{
    "host": "127.0.0.1",
    "port": 25564,
    "version": "1.13.2",
    "targetServer": "main",
    "maxInQueue": 2000,
    "maxPlayers": 50,
    "queueChat": {
        "enable": false,
        "slowMode": true,
        "slowDelay": {
            "seconds": 30
        },
        "tooFast": [
            {
                "text": "You are sending chat too fast!",
                "color": "red"
            }
        ]
    },
    "text": {
        "welcome": [
            {
                "text":"Welcome to Server Name !!"
            },
            "\n",
            {
                "text":"You are now queueing up, please "
            },
            {
                "text":"click here",
                "clickEvent":{
                    "action":"open_url",
                    "value":"https://github.com/eslym/bungee-queue/issues"
                },
                "hoverEvent":{
                    "action":"show_text",
                    "value":"Click to open feedback page"
                }
            },
            {
                "text":" to submit your feedback."
            },
            "\n"
        ],
        "queueNumber": "§r§eYour current queue number: %d",
        "enteringGame": "§r§eYou are now entering game."
    },
    "soundNotify": {
        "since": 5,
        "sound": "entity.experience_orb.pickup"
    }
}